
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {

  direction: rtl;
    background-color:#0B4F6C ;

}
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
  }
  .home_img img {
    width: 25vw;
    border-radius: 50%;
    box-shadow: 0 0 25px #0B4F6C;
    animation: floatimage 4s ease-in-out infinite;
    transition: 0.5s ease;
  }
  .home_img img:hover {
    box-shadow: 0 0 25px #0B4F6C,
     0 0 35px #0B4F6C,
      0 0 45px #0B4F6C;
  }
  @keyframes floatimage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2.4rem);
    }
    100% {
        transform: translateY(0);
    }
  }
  .home_content {
    margin-left: 5rem;
  }
  .home_content span {
    color: blue;
  }
  .home_content h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.6;
  }
  .home_content h3 {
    font-size: 20px;
  }
  .home_content p {
    font-size: 1.6rem;
    color: #6c757d;
  }
  .ht {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 2em;
  }
  .social_media a {
    transition: 0.3s ease;
  }
  .social_media a:hover {
    transform:  scale(1.2) translateY(-10px);
    box-shadow: 0 0 10px blue;
  }
 
    
  .btn:hover {
    box-shadow: 0 0 10px blue;
    transform: translateY(-1opx);
  } 
  

   .video-wrap {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0); 
   }

.video-wrap video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain; 
    object-position: center;
    transition: ease-in-out 0.5s;
    border: 2px solid#0B4F6C  ;
    box-shadow: 0 0 25px #0B4F6C;
 
}
.video-wrap video:hover {
    transform:  scale(1.2) translateY(-10px);
    box-shadow: 0 0 25px #0B4F6C,
    0 0 35px #0B4F6C,
     0 0 45px #0B4F6C;
    
}
#extra-videos {
    display: none;
    
}


#show-more:checked ~ #extra-videos {
    display: flex;

}
#extra_service {
  display: none;
}

#show-more:checked ~ #extra_service {
  display: block;
}

#big_font {
  transition: 5.s ease-in-out;
}
#big_font:hover {
  font-weight: bold;
  font-size: larger;
  color: #0B4F6C;
}
#box-infor {
  position: absolute;
  overflow: hidden;
  left: 0;
  padding: 20px;
  background-color: #0B4F6C;
  bottom: -100%;
  width: 100%;
  transition: 0.5s;
  color: white;
}

#big-box:hover #box-infor {
  bottom: 0;
}
#big-box img {
  transition: 0.5s;
}
#big-box:hover img {
  transform:  rotate(4deg) scale(1.2);
}
#box-infor h4 {
  margin-bottom: 10px;
}
#box-infor p {
  font-size: 14px;
  color: rgb(212, 211, 211);
}
#spcial_card {
  /* box-shadow: 0 0 2px #0B4F6C; */
transition: 0.3s;
}
#spcial_card:hover {
  transform:  scale(1.2) ;
    box-shadow: 0 0 10px #0B4F6C,
    0 0 15px #0B4F6C,
     0 0 20px #0B4F6C;
     z-index: 100;
}
#spcial_card h4 {
  color: #0B4F6C;
}
#spcial_card p {
  color: rgb(95, 94, 94);
}
@media (max-width: 768px) {
  #spcial_card:hover {
      transform: scale(1.02); 
      box-shadow: 0 2px 8px #0B4F6C ; 
  }
}

.clients{
	background-image:url('img/client-bg.jpg');
	background-size:cover;
	background-position:center;
	padding:100px 0px;
	position:relative;
}

.clients .single-clients img {
	width: 100%;
	cursor: pointer;
	text-align: center;
	float: none;
	padding: 0 35px;
}
.font {
  font-size: 20px;
  line-height: 1.5;
  color: #6c757d;
}
.why {
  font-size: 14px;
  color: #6c757d;
  line-height: 1.5;
}
.head {
  color: #bdc0c2;
  font-size: 100px;
  text-align: center;
  font-weight: 800;
  letter-spacing: -3px;
  margin: 0;
}
/* From Uiverse.io by Pravins01 */ 
.card {
  position: relative;
  /* width: 190px; */
  /* height: 254px; */
  background-color: #00000000;
  display: flex;
  flex-direction: column;
  justify-content: end;
  /* padding: 12px; */
  /* gap: 12px; */
  border-radius: 8px;
  cursor: pointer;
  color: white;
}

.card::before {
  content: '';
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  /* width: 200px;
  height: 264px; */
  border-radius: 10px;
  background: linear-gradient(-45deg, #f8dafc6b 0%, #40c9ff 100% );
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #d6bcd6 0%, #00dbde 100% );
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

.heading {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 700;
}



.cardss:hover::after {
  filter: blur(30px);
}

.cardss:hover::before {
  transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
}


.con{
  position: relative;
  width: 150px;
  height: 55px;
  border-radius: 45px;
  border: none;
  background-color: rgb(0, 160, 255);
  color: white;
  box-shadow:
    0px 10px 10px rgb(0, 150, 253) inset,
    0px 5px 10px rgba(5, 5, 5, 0.212),
    0px -10px 10px rgb(0, 150, 252) inset;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.con::before {
  width: 70%;
  height: 2px;
  position: absolute;
  background-color: rgba(250, 250, 250, 0.678);
  content: "";
  filter: blur(1px);
  top: 7px;
  border-radius: 50%;
}

.con::after {
  width: 70%;
  height: 2px;
  position: absolute;
  background-color: rgba(250, 250, 250, 0.137);
  content: "";
  filter: blur(1px);
  bottom: 7px;
  border-radius: 50%;
}

.con:hover {
  animation: jello-horizontal 0.9s both;
}

@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}
#place {
  transition: 0.5s ease-in-out; 
}
#place:hover {
  transform: scale(1.2);
}
#heart {
  transition: transform 0.3s ease, opacity 0.3s ease;
}
#heart:hover {
  transform: scale(1.2); 
  opacity: 0.8;
    
}
@media (max-width: 768px) {
.place:hover {
      transform: none; 
}


/* swiper about  */
.swiper-img {
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.swiper-img:hover {
  transform: scale(1.2); 
  opacity: 0.8;
}